.popover-cart {
  width: 400px;
  .ant-popover-content {
    display: inline;
    position: relative;
    right: -20%;
    .ant-popover-inner-content {
      .book {
        display: flex;
        justify-content: center;
        align-items: center;
        .book-image {
        }
        .book-name {
        }
        .book-price {
        }
      }
    }
  }
}
