.popover-cart {
  width: 400px;
  .ant-popover-content {
    display: inline;
    position: relative;
    right: -20%;

    .ant-popover-inner-content {
      .list-books {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: column;
        gap: 10px;
        .book {
          &:hover {
            background-color: #eee;
          }
          .book-image {
            min-width: 60px;
            flex-shrink: 0;
          }
          .book-name {
            white-space: nowrap;
            width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .book-price {
          }
        }
      }
    }
  }
}
