#basic {
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  padding: 50px;

  .form-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.5;
      color: #323a46;
    }
    h2 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #767c84;
    }
  }
}
