#basic {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.form-container {
  .form-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.5;
      color: #323a46;
    }
    h2 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #767c84;
    }
  }
}
