.logo-admin {
  svg {
    font-size: 20px;
  }
}
header {
  .account {
    height: 30px;
    float: right;
    position: relative;
    left: 0%;
    transform: translate(-50%, 50%);
  }
}
@media screen and (max-width: 767.98px) {
  header {
    .account {
    }
  }
}
